/*!*************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[14].oneOf[3].use[1]!./node_modules/next/dist/build/webpack/loaders/next-font-loader/index.js??ruleSet[1].rules[14].oneOf[3].use[2]!./node_modules/next/font/local/target.css?{"path":"app/layout.tsx","import":"","arguments":[{"src":"./fonts/GeistVF.woff","variable":"--font-geist-sans","weight":"100 900"}],"variableName":"geistSans"} ***!
  \*************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
@font-face {
font-family: '__geistSans_1e4310';
src: url(/_next/static/media/4473ecc91f70f139-s.p.woff) format('woff');
font-display: swap;
font-weight: 100 900;
}@font-face {font-family: '__geistSans_Fallback_1e4310';src: local("Arial");ascent-override: 85.83%;descent-override: 20.52%;line-gap-override: 9.33%;size-adjust: 107.19%
}.__className_1e4310 {font-family: '__geistSans_1e4310', '__geistSans_Fallback_1e4310'
}.__variable_1e4310 {--font-geist-sans: '__geistSans_1e4310', '__geistSans_Fallback_1e4310'
}

/*!*****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[14].oneOf[3].use[1]!./node_modules/next/dist/build/webpack/loaders/next-font-loader/index.js??ruleSet[1].rules[14].oneOf[3].use[2]!./node_modules/next/font/local/target.css?{"path":"app/layout.tsx","import":"","arguments":[{"src":"./fonts/GeistMonoVF.woff","variable":"--font-geist-mono","weight":"100 900"}],"variableName":"geistMono"} ***!
  \*****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
@font-face {
font-family: '__geistMono_c3aa02';
src: url(/_next/static/media/463dafcda517f24f-s.p.woff) format('woff');
font-display: swap;
font-weight: 100 900;
}@font-face {font-family: '__geistMono_Fallback_c3aa02';src: local("Arial");ascent-override: 69.97%;descent-override: 16.73%;line-gap-override: 7.61%;size-adjust: 131.49%
}.__className_c3aa02 {font-family: '__geistMono_c3aa02', '__geistMono_Fallback_c3aa02'
}.__variable_c3aa02 {--font-geist-mono: '__geistMono_c3aa02', '__geistMono_Fallback_c3aa02'
}

/*!*************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[14].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[14].oneOf[12].use[3]!./app/globals.css ***!
  \*************************************************************************************************************************************************************************************************************************************************************/
*, ::before, ::after {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position:  ;
  --tw-gradient-via-position:  ;
  --tw-gradient-to-position:  ;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
  --tw-contain-size:  ;
  --tw-contain-layout:  ;
  --tw-contain-paint:  ;
  --tw-contain-style:  ;
}

::backdrop {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position:  ;
  --tw-gradient-via-position:  ;
  --tw-gradient-to-position:  ;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
  --tw-contain-size:  ;
  --tw-contain-layout:  ;
  --tw-contain-paint:  ;
  --tw-contain-style:  ;
}/*
! tailwindcss v3.4.19 | MIT License | https://tailwindcss.com
*//*
1. Prevent padding and border from affecting element width. (https://github.com/mozdevs/cssremedy/issues/4)
2. Allow adding a border to an element by just adding a border-width. (https://github.com/tailwindcss/tailwindcss/pull/116)
*/

*,
::before,
::after {
  box-sizing: border-box; /* 1 */
  border-width: 0; /* 2 */
  border-style: solid; /* 2 */
  border-color: #e5e7eb; /* 2 */
}

::before,
::after {
  --tw-content: '';
}

/*
1. Use a consistent sensible line-height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
3. Use a more readable tab size.
4. Use the user's configured `sans` font-family by default.
5. Use the user's configured `sans` font-feature-settings by default.
6. Use the user's configured `sans` font-variation-settings by default.
7. Disable tap highlights on iOS
*/

html,
:host {
  line-height: 1.5; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
  -moz-tab-size: 4; /* 3 */
  tab-size: 4; /* 3 */
  font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; /* 4 */
  font-feature-settings: normal; /* 5 */
  font-variation-settings: normal; /* 6 */
  -webkit-tap-highlight-color: transparent; /* 7 */
}

/*
1. Remove the margin in all browsers.
2. Inherit line-height from `html` so users can set them as a class directly on the `html` element.
*/

body {
  margin: 0; /* 1 */
  line-height: inherit; /* 2 */
}

/*
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
3. Ensure horizontal rules are visible by default.
*/

hr {
  height: 0; /* 1 */
  color: inherit; /* 2 */
  border-top-width: 1px; /* 3 */
}

/*
Add the correct text decoration in Chrome, Edge, and Safari.
*/

abbr:where([title]) {
  text-decoration: underline dotted;
}

/*
Remove the default font size and weight for headings.
*/

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*
Reset links to optimize for opt-in styling instead of opt-out.
*/

a {
  color: inherit;
  text-decoration: inherit;
}

/*
Add the correct font weight in Edge and Safari.
*/

b,
strong {
  font-weight: bolder;
}

/*
1. Use the user's configured `mono` font-family by default.
2. Use the user's configured `mono` font-feature-settings by default.
3. Use the user's configured `mono` font-variation-settings by default.
4. Correct the odd `em` font sizing in all browsers.
*/

code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace; /* 1 */
  font-feature-settings: normal; /* 2 */
  font-variation-settings: normal; /* 3 */
  font-size: 1em; /* 4 */
}

/*
Add the correct font size in all browsers.
*/

small {
  font-size: 80%;
}

/*
Prevent `sub` and `sup` elements from affecting the line height in all browsers.
*/

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
3. Remove gaps between table borders by default.
*/

table {
  text-indent: 0; /* 1 */
  border-color: inherit; /* 2 */
  border-collapse: collapse; /* 3 */
}

/*
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
3. Remove default padding in all browsers.
*/

button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-feature-settings: inherit; /* 1 */
  font-variation-settings: inherit; /* 1 */
  font-size: 100%; /* 1 */
  font-weight: inherit; /* 1 */
  line-height: inherit; /* 1 */
  letter-spacing: inherit; /* 1 */
  color: inherit; /* 1 */
  margin: 0; /* 2 */
  padding: 0; /* 3 */
}

/*
Remove the inheritance of text transform in Edge and Firefox.
*/

button,
select {
  text-transform: none;
}

/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Remove default button styles.
*/

button,
input:where([type='button']),
input:where([type='reset']),
input:where([type='submit']) {
  -webkit-appearance: button; /* 1 */
  background-color: transparent; /* 2 */
  background-image: none; /* 2 */
}

/*
Use the modern Firefox focus style for all focusable elements.
*/

:-moz-focusring {
  outline: auto;
}

/*
Remove the additional `:invalid` styles in Firefox. (https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737)
*/

:-moz-ui-invalid {
  box-shadow: none;
}

/*
Add the correct vertical alignment in Chrome and Firefox.
*/

progress {
  vertical-align: baseline;
}

/*
Correct the cursor style of increment and decrement buttons in Safari.
*/

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/*
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/

[type='search'] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/*
Remove the inner padding in Chrome and Safari on macOS.
*/

::-webkit-search-decoration {
  -webkit-appearance: none;
}

/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to `inherit` in Safari.
*/

::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/*
Add the correct display in Chrome and Safari.
*/

summary {
  display: list-item;
}

/*
Removes the default spacing and border for appropriate elements.
*/

blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
  margin: 0;
}

fieldset {
  margin: 0;
  padding: 0;
}

legend {
  padding: 0;
}

ol,
ul,
menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

/*
Reset default styling for dialogs.
*/
dialog {
  padding: 0;
}

/*
Prevent resizing textareas horizontally by default.
*/

textarea {
  resize: vertical;
}

/*
1. Reset the default placeholder opacity in Firefox. (https://github.com/tailwindlabs/tailwindcss/issues/3300)
2. Set the default placeholder color to the user's configured gray 400 color.
*/

input::placeholder,
textarea::placeholder {
  opacity: 1; /* 1 */
  color: #9ca3af; /* 2 */
}

/*
Set the default cursor for buttons.
*/

button,
[role="button"] {
  cursor: pointer;
}

/*
Make sure disabled buttons don't get the pointer cursor.
*/
:disabled {
  cursor: default;
}

/*
1. Make replaced elements `display: block` by default. (https://github.com/mozdevs/cssremedy/issues/14)
2. Add `vertical-align: middle` to align replaced elements more sensibly by default. (https://github.com/jensimmons/cssremedy/issues/14#issuecomment-634934210)
   This can trigger a poorly considered lint error in some tools but is included by design.
*/

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block; /* 1 */
  vertical-align: middle; /* 2 */
}

/*
Constrain images and videos to the parent width and preserve their intrinsic aspect ratio. (https://github.com/mozdevs/cssremedy/issues/14)
*/

img,
video {
  max-width: 100%;
  height: auto;
}

/* Make elements with the HTML hidden attribute stay hidden by default */
[hidden]:where(:not([hidden="until-found"])) {
  display: none;
}
.pointer-events-none {
  pointer-events: none;
}
.absolute {
  position: absolute;
}
.relative {
  position: relative;
}
.inset-0 {
  inset: 0px;
}
.bottom-6 {
  bottom: 1.5rem;
}
.bottom-\[14\%\] {
  bottom: 14%;
}
.bottom-\[17\%\] {
  bottom: 17%;
}
.bottom-\[30\%\] {
  bottom: 30%;
}
.left-0 {
  left: 0px;
}
.left-1\/2 {
  left: 50%;
}
.left-5 {
  left: 1.25rem;
}
.left-\[18\%\] {
  left: 18%;
}
.left-\[33\%\] {
  left: 33%;
}
.left-\[5\%\] {
  left: 5%;
}
.left-\[6\%\] {
  left: 6%;
}
.right-5 {
  right: 1.25rem;
}
.right-\[24\%\] {
  right: 24%;
}
.right-\[35\%\] {
  right: 35%;
}
.right-\[4\%\] {
  right: 4%;
}
.right-\[5\%\] {
  right: 5%;
}
.right-\[6\%\] {
  right: 6%;
}
.top-0 {
  top: 0px;
}
.top-1\/2 {
  top: 50%;
}
.top-\[14\%\] {
  top: 14%;
}
.top-\[15\%\] {
  top: 15%;
}
.top-\[18\%\] {
  top: 18%;
}
.top-\[20\%\] {
  top: 20%;
}
.top-\[25\%\] {
  top: 25%;
}
.top-\[28\%\] {
  top: 28%;
}
.top-\[52\%\] {
  top: 52%;
}
.top-\[24\%\] {
  top: 24%;
}
.bottom-\[25\%\] {
  bottom: 25%;
}
.bottom-\[28\%\] {
  bottom: 28%;
}
.bottom-\[15\%\] {
  bottom: 15%;
}
.top-\[10\%\] {
  top: 10%;
}
.left-\[20\%\] {
  left: 20%;
}
.top-\[22\%\] {
  top: 22%;
}
.top-\[23\%\] {
  top: 23%;
}
.top-\[5\%\] {
  top: 5%;
}
.top-\[102\%\] {
  top: 102%;
}
.top-\[12\%\] {
  top: 12%;
}
.left-\[15\%\] {
  left: 15%;
}
.left-\[3\%\] {
  left: 3%;
}
.top-\[38\%\] {
  top: 38%;
}
.top-\[30\%\] {
  top: 30%;
}
.bottom-\[31\%\] {
  bottom: 31%;
}
.bottom-\[32\%\] {
  bottom: 32%;
}
.left-\[16\%\] {
  left: 16%;
}
.left-\[2\%\] {
  left: 2%;
}
.left-\[22\%\] {
  left: 22%;
}
.right-\[22\%\] {
  right: 22%;
}
.right-\[3\%\] {
  right: 3%;
}
.right-\[34\%\] {
  right: 34%;
}
.top-\[11\%\] {
  top: 11%;
}
.top-\[16\%\] {
  top: 16%;
}
.top-\[19\%\] {
  top: 19%;
}
.top-\[21\%\] {
  top: 21%;
}
.top-\[31\%\] {
  top: 31%;
}
.top-\[50\%\] {
  top: 50%;
}
.bottom-\[13\%\] {
  bottom: 13%;
}
.bottom-10 {
  bottom: 2.5rem;
}
.left-\[30\%\] {
  left: 30%;
}
.z-10 {
  z-index: 10;
}
.z-30 {
  z-index: 30;
}
.z-40 {
  z-index: 40;
}
.z-50 {
  z-index: 50;
}
.z-\[100\] {
  z-index: 100;
}
.mx-auto {
  margin-left: auto;
  margin-right: auto;
}
.mb-2 {
  margin-bottom: 0.5rem;
}
.mb-4 {
  margin-bottom: 1rem;
}
.mt-1 {
  margin-top: 0.25rem;
}
.mt-\[8px\] {
  margin-top: 8px;
}
.block {
  display: block;
}
.flex {
  display: flex;
}
.hidden {
  display: none;
}
.h-\[22px\] {
  height: 22px;
}
.h-\[30px\] {
  height: 30px;
}
.h-\[320px\] {
  height: 320px;
}
.h-\[52px\] {
  height: 52px;
}
.h-auto {
  height: auto;
}
.min-h-screen {
  min-height: 100vh;
}
.w-\[100vw\] {
  width: 100vw;
}
.w-\[115vw\] {
  width: 115vw;
}
.w-\[130px\] {
  width: 130px;
}
.w-\[150px\] {
  width: 150px;
}
.w-\[34px\] {
  width: 34px;
}
.w-\[42px\] {
  width: 42px;
}
.w-\[46px\] {
  width: 46px;
}
.w-\[58px\] {
  width: 58px;
}
.w-\[62px\] {
  width: 62px;
}
.w-\[64px\] {
  width: 64px;
}
.w-\[70px\] {
  width: 70px;
}
.w-\[86vw\] {
  width: 86vw;
}
.w-\[88px\] {
  width: 88px;
}
.w-full {
  width: 100%;
}
.w-\[100px\] {
  width: 100px;
}
.w-\[120px\] {
  width: 120px;
}
.w-\[90px\] {
  width: 90px;
}
.w-\[80px\] {
  width: 80px;
}
.w-\[125vw\] {
  width: 125vw;
}
.w-\[38px\] {
  width: 38px;
}
.w-\[68px\] {
  width: 68px;
}
.w-\[82px\] {
  width: 82px;
}
.w-\[88vw\] {
  width: 88vw;
}
.w-\[108px\] {
  width: 108px;
}
.max-w-\[120px\] {
  max-width: 120px;
}
.max-w-\[160px\] {
  max-width: 160px;
}
.max-w-\[210px\] {
  max-width: 210px;
}
.max-w-\[520px\] {
  max-width: 520px;
}
.max-w-\[760px\] {
  max-width: 760px;
}
.max-w-none {
  max-width: none;
}
.max-w-\[150px\] {
  max-width: 150px;
}
.max-w-\[430px\] {
  max-width: 430px;
}
.max-w-\[1320px\] {
  max-width: 1320px;
}
.max-w-\[1920px\] {
  max-width: 1920px;
}
.-translate-x-1\/2 {
  --tw-translate-x: -50%;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}
.-translate-y-1\/2 {
  --tw-translate-y: -50%;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}
.-translate-y-\[40px\] {
  --tw-translate-y: -40px;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}
.transform {
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}
.cursor-pointer {
  cursor: pointer;
}
.touch-pan-y {
  --tw-pan-y: pan-y;
  touch-action: var(--tw-pan-x) var(--tw-pan-y) var(--tw-pinch-zoom);
}
.select-none {
  user-select: none;
}
.flex-col {
  flex-direction: column;
}
.items-center {
  align-items: center;
}
.justify-end {
  justify-content: flex-end;
}
.justify-center {
  justify-content: center;
}
.justify-between {
  justify-content: space-between;
}
.gap-2 {
  gap: 0.5rem;
}
.gap-\[18px\] {
  gap: 18px;
}
.space-y-3 > :not([hidden]) ~ :not([hidden]) {
  --tw-space-y-reverse: 0;
  margin-top: calc(0.75rem * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(0.75rem * var(--tw-space-y-reverse));
}
.overflow-hidden {
  overflow: hidden;
}
.whitespace-nowrap {
  white-space: nowrap;
}
.whitespace-pre-line {
  white-space: pre-line;
}
.rounded-full {
  border-radius: 9999px;
}
.border {
  border-width: 1px;
}
.border-b {
  border-bottom-width: 1px;
}
.border-white\/80 {
  border-color: rgb(255 255 255 / 0.8);
}
.border-white\/90 {
  border-color: rgb(255 255 255 / 0.9);
}
.bg-black {
  --tw-bg-opacity: 1;
  background-color: rgb(0 0 0 / var(--tw-bg-opacity, 1));
}
.object-contain {
  object-fit: contain;
}
.object-cover {
  object-fit: cover;
}
.p-10 {
  padding: 2.5rem;
}
.px-5 {
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}
.text-center {
  text-align: center;
}
.text-\[10px\] {
  font-size: 10px;
}
.text-\[13px\] {
  font-size: 13px;
}
.text-\[14px\] {
  font-size: 14px;
}
.text-base {
  font-size: 1rem;
  line-height: 1.5rem;
}
.text-xs {
  font-size: 0.75rem;
  line-height: 1rem;
}
.text-\[9px\] {
  font-size: 9px;
}
.font-bold {
  font-weight: 700;
}
.font-medium {
  font-weight: 500;
}
.leading-\[1\.08\] {
  line-height: 1.08;
}
.leading-relaxed {
  line-height: 1.625;
}
.tracking-\[0\.02em\] {
  letter-spacing: 0.02em;
}
.tracking-\[0\.04em\] {
  letter-spacing: 0.04em;
}
.text-black {
  --tw-text-opacity: 1;
  color: rgb(0 0 0 / var(--tw-text-opacity, 1));
}
.text-white {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity, 1));
}
.antialiased {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.ring {
  --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
  --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(3px + var(--tw-ring-offset-width)) var(--tw-ring-color);
  box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow, 0 0 #0000);
}
.transition {
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}
.transition-all {
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}
.transition-transform {
  transition-property: transform;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}
.duration-300 {
  transition-duration: 300ms;
}
.duration-700 {
  transition-duration: 700ms;
}
.ease-in-out {
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.ease-out {
  transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.icon-link {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transition: none;
}

.icon-link:hover {
  animation: none;
  transform: none;
}

@keyframes floatTypo {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-15px);
  }
}

.float-typo {
  animation: floatTypo 3s ease-in-out infinite;
}

@keyframes floatUp {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

@keyframes floatDown {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
}

.float-up {
  animation: floatUp 3s ease-in-out infinite;
}

.float-down {
  animation: floatDown 3s ease-in-out infinite;
}

@keyframes shake {
  0%, 100% {
    transform: translateX(0) scale(1.2);
  }
  25% {
    transform: translateX(-5px) scale(1.2);
  }
  50% {
    transform: translateX(5px) scale(1.2);
  }
  75% {
    transform: translateX(-5px) scale(1.2);
  }
}


 
        @keyframes floatSlow {
          0%,
          100% {
            transform: translateY(0);
          }
          50% {
            transform: translateY(-18px);
          }
        }

        @keyframes floatFast {
          0%,
          100% {
            transform: translateY(0);
          }
          50% {
            transform: translateY(14px);
          }
        }

        @keyframes floatRotate {
          0%,
          100% {
            transform: translateY(0) rotate(-4deg);
          }
          50% {
            transform: translateY(-16px) rotate(5deg);
          }
        }

        @keyframes twinkle {
          0%,
          100% {
            opacity: 0.75;
            transform: scale(1);
          }
          50% {
            opacity: 1;
            transform: scale(1.18);
          }
        }

        .float-slow {
          animation: floatSlow 6s ease-in-out infinite;
        }

        .float-fast {
          animation: floatFast 4.5s ease-in-out infinite;
        }

        .float-rotate {
          animation: floatRotate 5.5s ease-in-out infinite;
        }

        .twinkle {
          animation: twinkle 3.5s ease-in-out infinite;
        }

        .type-text {
          overflow: hidden;
          width: 0;
          border-right: 1px solid white;
          animation-fill-mode: forwards;
        }

        .type-1 {
          animation: typing1 4s steps(150) 0.5s forwards,
            cursor 0.8s step-end infinite;
        }

        .type-2 {
          animation: typing2 3s steps(90) 4.8s forwards,
            cursor 0.8s step-end infinite;
        }

        .type-3 {
          animation: typing3 2.4s steps(60) 8.2s forwards,
            cursor 0.8s step-end infinite;
        }

        @keyframes typing1 {
          from {
            width: 0;
          }
          to {
            width: 420px;
          }
        }

        @keyframes typing2 {
          from {
            width: 0;
          }
          to {
            width: 260px;
          }
        }

        @keyframes typing3 {
          from {
            width: 0;
          }
          to {
            width: 130px;
          }
        }

        @keyframes cursor {
          50% {
            border-color: transparent;
          }
        }
        .sns-icon {
  width: 42px;
  height: 42px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 23px;
  font-weight: 700;
  box-shadow: 0 8px 18px rgba(0, 0, 0, 0.25);
  transition: transform 0.25s ease, filter 0.25s ease;
}

.sns-icon:hover {
  transform: translateY(-6px) scale(1.08);
  filter: brightness(1.15);
}

@media (max-width: 768px) {
  .sns-icon {
    width: 34px;
    height: 34px;
    font-size: 18px;
  }
}

.hover\:translate-x-2:hover {
  --tw-translate-x: 0.5rem;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.group:hover .group-hover\:scale-\[1\.15\] {
  --tw-scale-x: 1.15;
  --tw-scale-y: 1.15;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

@media (min-width: 640px) {

  .sm\:bottom-\[16\%\] {
    bottom: 16%;
  }

  .sm\:bottom-\[30\%\] {
    bottom: 30%;
  }

  .sm\:bottom-\[31\%\] {
    bottom: 31%;
  }

  .sm\:left-\[18\%\] {
    left: 18%;
  }

  .sm\:left-\[24\%\] {
    left: 24%;
  }

  .sm\:left-\[4\%\] {
    left: 4%;
  }

  .sm\:left-\[5\%\] {
    left: 5%;
  }

  .sm\:left-\[6\%\] {
    left: 6%;
  }

  .sm\:right-\[25\%\] {
    right: 25%;
  }

  .sm\:right-\[35\%\] {
    right: 35%;
  }

  .sm\:right-\[4\%\] {
    right: 4%;
  }

  .sm\:right-\[5\%\] {
    right: 5%;
  }

  .sm\:top-\[11\%\] {
    top: 11%;
  }

  .sm\:top-\[15\%\] {
    top: 15%;
  }

  .sm\:top-\[19\%\] {
    top: 19%;
  }

  .sm\:top-\[20\%\] {
    top: 20%;
  }

  .sm\:top-\[28\%\] {
    top: 28%;
  }

  .sm\:top-\[29\%\] {
    top: 29%;
  }

  .sm\:top-\[50\%\] {
    top: 50%;
  }

  .sm\:right-\[6\%\] {
    right: 6%;
  }

  .sm\:bottom-\[28\%\] {
    bottom: 28%;
  }

  .sm\:w-\[105px\] {
    width: 105px;
  }

  .sm\:w-\[110px\] {
    width: 110px;
  }

  .sm\:w-\[118vw\] {
    width: 118vw;
  }

  .sm\:w-\[45px\] {
    width: 45px;
  }

  .sm\:w-\[50px\] {
    width: 50px;
  }

  .sm\:w-\[72px\] {
    width: 72px;
  }

  .sm\:w-\[76px\] {
    width: 76px;
  }

  .sm\:w-\[78vw\] {
    width: 78vw;
  }

  .sm\:w-\[85px\] {
    width: 85px;
  }

  .sm\:w-\[100px\] {
    width: 100px;
  }

  .sm\:max-w-\[130px\] {
    max-width: 130px;
  }

  .sm\:max-w-\[170px\] {
    max-width: 170px;
  }

  .sm\:max-w-\[250px\] {
    max-width: 250px;
  }

  .sm\:max-w-\[520px\] {
    max-width: 520px;
  }

  .sm\:px-6 {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }

  .sm\:text-\[10px\] {
    font-size: 10px;
  }
}

@media (min-width: 768px) {

  .md\:bottom-10 {
    bottom: 2.5rem;
  }

  .md\:bottom-8 {
    bottom: 2rem;
  }

  .md\:bottom-\[17\%\] {
    bottom: 17%;
  }

  .md\:bottom-\[18\%\] {
    bottom: 18%;
  }

  .md\:bottom-\[20\%\] {
    bottom: 20%;
  }

  .md\:bottom-\[24\%\] {
    bottom: 24%;
  }

  .md\:left-10 {
    left: 2.5rem;
  }

  .md\:left-\[13\%\] {
    left: 13%;
  }

  .md\:left-\[17\%\] {
    left: 17%;
  }

  .md\:left-\[19\%\] {
    left: 19%;
  }

  .md\:left-\[20\%\] {
    left: 20%;
  }

  .md\:left-\[30\%\] {
    left: 30%;
  }

  .md\:left-\[7\%\] {
    left: 7%;
  }

  .md\:right-14 {
    right: 3.5rem;
  }

  .md\:right-\[15\%\] {
    right: 15%;
  }

  .md\:right-\[18\%\] {
    right: 18%;
  }

  .md\:right-\[22\%\] {
    right: 22%;
  }

  .md\:right-\[32\%\] {
    right: 32%;
  }

  .md\:right-\[8\%\] {
    right: 8%;
  }

  .md\:top-\[10\%\] {
    top: 10%;
  }

  .md\:top-\[11\%\] {
    top: 11%;
  }

  .md\:top-\[12\%\] {
    top: 12%;
  }

  .md\:top-\[17\%\] {
    top: 17%;
  }

  .md\:top-\[18\%\] {
    top: 18%;
  }

  .md\:top-\[21\%\] {
    top: 21%;
  }

  .md\:top-\[24\%\] {
    top: 24%;
  }

  .md\:top-\[55\%\] {
    top: 55%;
  }

  .md\:top-\[22\%\] {
    top: 22%;
  }

  .md\:bottom-\[30\%\] {
    bottom: 30%;
  }

  .md\:bottom-\[19\%\] {
    bottom: 19%;
  }

  .md\:bottom-\[28\%\] {
    bottom: 28%;
  }

  .md\:left-\[22\%\] {
    left: 22%;
  }

  .md\:left-\[25\%\] {
    left: 25%;
  }

  .md\:left-\[5\%\] {
    left: 5%;
  }

  .md\:left-\[8\%\] {
    left: 8%;
  }

  .md\:right-\[34\%\] {
    right: 34%;
  }

  .md\:right-\[5\%\] {
    right: 5%;
  }

  .md\:right-\[7\%\] {
    right: 7%;
  }

  .md\:top-\[13\%\] {
    top: 13%;
  }

  .md\:top-\[14\%\] {
    top: 14%;
  }

  .md\:top-\[15\%\] {
    top: 15%;
  }

  .md\:top-\[16\%\] {
    top: 16%;
  }

  .md\:top-\[27\%\] {
    top: 27%;
  }

  .md\:top-\[52\%\] {
    top: 52%;
  }

  .md\:bottom-\[16\%\] {
    bottom: 16%;
  }

  .md\:left-\[28\%\] {
    left: 28%;
  }

  .md\:right-\[38\%\] {
    right: 38%;
  }

  .md\:top-\[25\%\] {
    top: 25%;
  }

  .md\:top-\[20\%\] {
    top: 20%;
  }

  .md\:mb-3 {
    margin-bottom: 0.75rem;
  }

  .md\:mb-6 {
    margin-bottom: 1.5rem;
  }

  .md\:mt-2 {
    margin-top: 0.5rem;
  }

  .md\:block {
    display: block;
  }

  .md\:h-\[36px\] {
    height: 36px;
  }

  .md\:h-\[38px\] {
    height: 38px;
  }

  .md\:h-\[420px\] {
    height: 420px;
  }

  .md\:h-\[58px\] {
    height: 58px;
  }

  .md\:w-\[108px\] {
    width: 108px;
  }

  .md\:w-\[110px\] {
    width: 110px;
  }

  .md\:w-\[130px\] {
    width: 130px;
  }

  .md\:w-\[140px\] {
    width: 140px;
  }

  .md\:w-\[150px\] {
    width: 150px;
  }

  .md\:w-\[220px\] {
    width: 220px;
  }

  .md\:w-\[230px\] {
    width: 230px;
  }

  .md\:w-\[250px\] {
    width: 250px;
  }

  .md\:w-\[260px\] {
    width: 260px;
  }

  .md\:w-\[42vw\] {
    width: 42vw;
  }

  .md\:w-\[50px\] {
    width: 50px;
  }

  .md\:w-\[60px\] {
    width: 60px;
  }

  .md\:w-\[70px\] {
    width: 70px;
  }

  .md\:w-\[76vw\] {
    width: 76vw;
  }

  .md\:w-\[240px\] {
    width: 240px;
  }

  .md\:w-\[200px\] {
    width: 200px;
  }

  .md\:w-\[100px\] {
    width: 100px;
  }

  .md\:w-\[120px\] {
    width: 120px;
  }

  .md\:w-\[145px\] {
    width: 145px;
  }

  .md\:w-\[55px\] {
    width: 55px;
  }

  .md\:w-\[58vw\] {
    width: 58vw;
  }

  .md\:w-\[95px\] {
    width: 95px;
  }

  .md\:w-\[98vw\] {
    width: 98vw;
  }

  .md\:w-\[125px\] {
    width: 125px;
  }

  .md\:w-\[99px\] {
    width: 99px;
  }

  .md\:w-\[146px\] {
    width: 146px;
  }

  .md\:max-w-\[1320px\] {
    max-width: 1320px;
  }

  .md\:max-w-\[180px\] {
    max-width: 180px;
  }

  .md\:max-w-\[260px\] {
    max-width: 260px;
  }

  .md\:max-w-\[420px\] {
    max-width: 420px;
  }

  .md\:max-w-\[760px\] {
    max-width: 760px;
  }

  .md\:max-w-\[150px\] {
    max-width: 150px;
  }

  .md\:max-w-\[220px\] {
    max-width: 220px;
  }

  .md\:max-w-\[320px\] {
    max-width: 320px;
  }

  .md\:max-w-\[620px\] {
    max-width: 620px;
  }

  .md\:-translate-y-\[20px\] {
    --tw-translate-y: -20px;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  }

  .md\:gap-\[14px\] {
    gap: 14px;
  }

  .md\:gap-\[34px\] {
    gap: 34px;
  }

  .md\:space-y-4 > :not([hidden]) ~ :not([hidden]) {
    --tw-space-y-reverse: 0;
    margin-top: calc(1rem * calc(1 - var(--tw-space-y-reverse)));
    margin-bottom: calc(1rem * var(--tw-space-y-reverse));
  }

  .md\:px-\[38px\] {
    padding-left: 38px;
    padding-right: 38px;
  }

  .md\:px-8 {
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .md\:text-2xl {
    font-size: 1.5rem;
    line-height: 2rem;
  }

  .md\:text-\[14px\] {
    font-size: 14px;
  }

  .md\:text-\[16px\] {
    font-size: 16px;
  }

  .md\:text-sm {
    font-size: 0.875rem;
    line-height: 1.25rem;
  }

  .md\:text-xs {
    font-size: 0.75rem;
    line-height: 1rem;
  }

  .md\:text-\[11px\] {
    font-size: 11px;
  }
}

@media (min-width: 1024px) {

  .lg\:bottom-\[18\%\] {
    bottom: 18%;
  }

  .lg\:bottom-\[25\%\] {
    bottom: 25%;
  }

  .lg\:bottom-\[28\%\] {
    bottom: 28%;
  }

  .lg\:left-\[10\%\] {
    left: 10%;
  }

  .lg\:left-\[13\%\] {
    left: 13%;
  }

  .lg\:left-\[17\%\] {
    left: 17%;
  }

  .lg\:left-\[24\%\] {
    left: 24%;
  }

  .lg\:left-\[28\%\] {
    left: 28%;
  }

  .lg\:left-\[6\%\] {
    left: 6%;
  }

  .lg\:right-\[11\%\] {
    right: 11%;
  }

  .lg\:right-\[14\%\] {
    right: 14%;
  }

  .lg\:right-\[33\%\] {
    right: 33%;
  }

  .lg\:right-\[7\%\] {
    right: 7%;
  }

  .lg\:top-\[12\%\] {
    top: 12%;
  }

  .lg\:top-\[13\%\] {
    top: 13%;
  }

  .lg\:top-\[15\%\] {
    top: 15%;
  }

  .lg\:top-\[19\%\] {
    top: 19%;
  }

  .lg\:top-\[20\%\] {
    top: 20%;
  }

  .lg\:top-\[25\%\] {
    top: 25%;
  }

  .lg\:top-\[53\%\] {
    top: 53%;
  }

  .lg\:right-\[13\%\] {
    right: 13%;
  }

  .lg\:w-\[115px\] {
    width: 115px;
  }

  .lg\:w-\[125px\] {
    width: 125px;
  }

  .lg\:w-\[180px\] {
    width: 180px;
  }

  .lg\:w-\[190px\] {
    width: 190px;
  }

  .lg\:w-\[46vw\] {
    width: 46vw;
  }

  .lg\:w-\[62px\] {
    width: 62px;
  }

  .lg\:w-\[84vw\] {
    width: 84vw;
  }

  .lg\:w-\[90px\] {
    width: 90px;
  }

  .lg\:w-\[120px\] {
    width: 120px;
  }

  .lg\:w-\[100px\] {
    width: 100px;
  }

  .lg\:w-\[130px\] {
    width: 130px;
  }

  .lg\:max-w-\[170px\] {
    max-width: 170px;
  }

  .lg\:max-w-\[240px\] {
    max-width: 240px;
  }

  .lg\:max-w-\[380px\] {
    max-width: 380px;
  }

  .lg\:max-w-\[720px\] {
    max-width: 720px;
  }

  .lg\:px-\[38px\] {
    padding-left: 38px;
    padding-right: 38px;
  }

  .lg\:text-xs {
    font-size: 0.75rem;
    line-height: 1rem;
  }
}

@media (min-width: 1280px) {

  .xl\:bottom-\[18\%\] {
    bottom: 18%;
  }

  .xl\:bottom-\[24\%\] {
    bottom: 24%;
  }

  .xl\:bottom-\[30\%\] {
    bottom: 30%;
  }

  .xl\:left-\[13\%\] {
    left: 13%;
  }

  .xl\:left-\[17\%\] {
    left: 17%;
  }

  .xl\:left-\[19\%\] {
    left: 19%;
  }

  .xl\:left-\[20\%\] {
    left: 20%;
  }

  .xl\:left-\[30\%\] {
    left: 30%;
  }

  .xl\:left-\[7\%\] {
    left: 7%;
  }

  .xl\:right-\[15\%\] {
    right: 15%;
  }

  .xl\:right-\[22\%\] {
    right: 22%;
  }

  .xl\:right-\[32\%\] {
    right: 32%;
  }

  .xl\:right-\[8\%\] {
    right: 8%;
  }

  .xl\:top-\[10\%\] {
    top: 10%;
  }

  .xl\:top-\[11\%\] {
    top: 11%;
  }

  .xl\:top-\[12\%\] {
    top: 12%;
  }

  .xl\:top-\[17\%\] {
    top: 17%;
  }

  .xl\:top-\[18\%\] {
    top: 18%;
  }

  .xl\:top-\[21\%\] {
    top: 21%;
  }

  .xl\:top-\[22\%\] {
    top: 22%;
  }

  .xl\:top-\[24\%\] {
    top: 24%;
  }

  .xl\:top-\[55\%\] {
    top: 55%;
  }

  .xl\:right-\[18\%\] {
    right: 18%;
  }

  .xl\:top-\[65\%\] {
    top: 65%;
  }

  .xl\:left-\[18\%\] {
    left: 18%;
  }

  .xl\:left-\[12\%\] {
    left: 12%;
  }

  .xl\:w-\[110px\] {
    width: 110px;
  }

  .xl\:w-\[130px\] {
    width: 130px;
  }

  .xl\:w-\[150px\] {
    width: 150px;
  }

  .xl\:w-\[220px\] {
    width: 220px;
  }

  .xl\:w-\[230px\] {
    width: 230px;
  }

  .xl\:w-\[240px\] {
    width: 240px;
  }

  .xl\:w-\[42vw\] {
    width: 42vw;
  }

  .xl\:w-\[70px\] {
    width: 70px;
  }

  .xl\:w-\[76vw\] {
    width: 76vw;
  }

  .xl\:w-\[180px\] {
    width: 180px;
  }

  .xl\:max-w-\[180px\] {
    max-width: 180px;
  }

  .xl\:max-w-\[260px\] {
    max-width: 260px;
  }

  .xl\:max-w-\[420px\] {
    max-width: 420px;
  }

  .xl\:max-w-\[760px\] {
    max-width: 760px;
  }
}
